:root {
    --my-highlight-color: #f66260;
    --my-highlight-color-2: #f66a6a33;
    --my-highlight-color-1: #f66a6a1a;

    --my-font-color: #374151;
    --my-border-color: #374151;

    --vp-background-color: #f3f4f6;







    &.dark {
        --my-highlight-color: #e06458;
        --my-highlight-color-2: #e0645833;
        --my-highlight-color-1: #e064581a;
        --my-background-color: #1f2937;

        --blog-font-color: #f3f4f6ee;
        --blog-github-card-background: #1f2937;
        --blog-card-background: #1f2937;
        --blog-card-background-8: #1f2937cc;
        --blog-contrast-color: #3b82f6;
        --blog-contrast-color-8: #3b82f6cc;
        --blog-contrast-color-5: #3b82f680;
        --blog-contrast-color-3: #3b82f64d;
        --blog-contrast-color-2: #3b82f633;
        --blog-contrast-color-1: #3b82f61a;
    }
 
}



/* 背景色 background */
/* alt: sidebar & code block */
:root {
    --vp-c-bg: antiquewhite;
    --vp-c-bg-alt: rgb(244, 223, 196);
    &.dark {
        --vp-c-bg: #1f2937;
        --vp-c-bg-alt: #161618;
    }
}
